<div class="add-employee-container">
  <mat-toolbar color="primary" class="Justify-content-center">Add New Employee</mat-toolbar>
    <mat-card class="mat-card">
        
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="form-container">
            <mat-form-field >
                <mat-label> Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter Employee Name" >
                <mat-error *ngIf="name?.hasError('required')">
                    Employee Name is required
                  </mat-error>
              </mat-form-field>
              </div>
              <div class="form-container">
              <mat-form-field appearance="fill">
                <mat-label> Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter Employee Email">
                <mat-error >
                    <span *ngIf="email.hasError('required')">Email is required</span>
                    <span *ngIf="email.hasError('email')">Please enter a valid email address.</span>
                  </mat-error>
              </mat-form-field>
              </div>
              <div class="form-container">
                <mat-form-field appearance="fill">
                  <mat-label> Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" placeholder="Enter Employee Phone Number">
                  <mat-error>
                    <span *ngIf="phoneNumber.hasError('required')">Employee Phone Number is required</span> 
                    <span *ngIf="phoneNumber?.hasError('pattern')">Invalid phone number format</span>
                    </mat-error>
                </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field appearance="fill">
                      <mat-label> Age</mat-label>
                      <input matInput formControlName="age" placeholder="Enter Employee Age" type="number">
                      <mat-error *ngIf="age?.hasError('required')">
                          Employee age is required
                        </mat-error>
                        <mat-error *ngIf="employeeForm.get('age')?.hasError('min')">Age cannot be less than 18</mat-error>

                    </mat-form-field>
                </div>
                <div class="form-container">
                  
                  <mat-form-field appearance="fill">
                    <mat-label>Select Department</mat-label>

                        <mat-select formControlName="departmentId" placeholder="Choose a department">
                         
                        <mat-option *ngFor="let department of filteredDepartments" [value]="department.departmentId">
                            {{ department.departmentId }} - {{ department.name }}
                        </mat-option>
                        </mat-select>
                        <mat-error *ngIf="employeeForm.get('departmentId')?.hasError('required')">Department is required</mat-error>
                    </mat-form-field>
                </div>
              <div class="form-container">
                <button mat-fab extended color="primary" type="submit" >Submit</button>

              </div>

        </form>
    </mat-card>

    
  </div>
  