table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed into a single border */
  }
  th, td {
    padding: 10px;
    text-align: center; /* Optional: align the text in the cells */
    border-bottom: 1px solid #eee ;
  }
  .table-heading{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 15px auto;
    flex-wrap: wrap;
  }
  .search-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
  }
  .search-input{
    min-width: 450px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 15px;
    color: #000;
  }
  .search-input:focus{
    outline: none !important;
    border-color: #5b005b;
    box-shadow: 0 0 10px #5b005b;
  }
  input[pInputText] {
    padding-left: 30px; /* Ensures there is space for the icon */
    width: 200px; /* Adjust based on your need */
  }
  .menu-icon{
    border: none; background-color: #ccc; padding: 2px;
    display: none;
  }
  .actions-column {
    position: relative;
  }
  
  .ellipsis {
    display: none;
    width: 25px;
    background-color: #ccc;
  }
  
  .action-icons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .action-icons i {
    cursor: pointer;
    /*margin-right: 10px;*/
    color: #888;
    transition: color 0.3s ease;
  }
  
  .action-icons i:checked {
    color: #007bff; /* Highlight on hover */
  }
  tr:hover .ellipsis {
    display: block;
  }