<div class="table-heading" >
  <div class="search-container">
    <span class="pi pi-search search-icon"></span>
    <input pInputText type="text" class="search-input" placeholder="Search ..." (input)="filterGlobal($event, dt)">
  
  </div>
  <div>
   <a mat-button  mat-raised-button routerLink="/add-employee"><span style="margin: 4px 5px;" class="pi pi-plus"></span> Add Employee </a>

  </div>

</div>

<p-table [value]="employees" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem' }"
[globalFilterFields]="['Id', 'name', 'email', 'phoneNumber', 'departmentId', 'department.name']" #dt>
    <ng-template pTemplate="header">
      
      <tr>
      

        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="phoneNumber">Phone Number <p-sortIcon field="phoneNumber"></p-sortIcon></th>
        <th pSortableColumn="department.name">Department Name <p-sortIcon field="id"></p-sortIcon></th>
        <th></th>
        <!-- Add other headers as needed -->
      </tr>
    
    </ng-template>
    <ng-template pTemplate="body" let-employee >
      <tr >
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.department.name}}</td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  color="primary" (click)="onEdit(employee.id)">
            Edit
          </button>
          <button mat-menu-item (click)="confirmDelete(employee.id,employee.name)">
           Delete
          </button>
          <!--
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
          -->
          
        </mat-menu>
        <!-- Add other columns as needed -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      <div>Total Records: {{ state.totalRecords }}</div>
    </ng-template>
  </p-table>